set timeout=5
menuentry "CROS GOP" {
    set gfxmode=auto
    insmod all_video
    terminal_output gfxterm
    multiboot2 /boot/kernel.elf
    boot
}
menuentry "CROS" {
    set gfxmode=text
    terminal_output console
    multiboot2 /boot/kernel.elf
    boot
}

# this is self explanatory dont even bother