set timeout=5
set gfxmode=text
terminal_output console
menuentry "CROS BIOS" {
    set gfxmode=text
    terminal_output console
    multiboot2 /boot/kernel.elf
    boot
}
menuentry "CROS UEFI" {
    set gfxmode=1024x768x32
    insmod all_video
    terminal_output gfxterm
    multiboot2 /boot/kernel.elf
    boot
}